element.style {
}
.rounded-3 {
    border-radius: var(--bs-border-radius-lg)!important;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
.p-4 {
    padding: 1.5rem!important;
}
.border {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}
form {
    font-family: 'Poppins', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
form {
    display: block;
    margin-top: 0em;
}
y {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}


